<div class="jumbotron">
  <div class="container">
    <h1>Controle de Vendas</h1>
    <p>
      Esta é uma aplicação simples de controle de vendas, feita para o
      <a href="https://github.com/9Nama/avaliacao_desenvolvedor">
        desafio de programação da Nama.
      </a>
    </p>
    <p>
      Para começar a utilizar a aplicação, basta fazer o upload de um
      arquivo de dados.
    </p>
    <p>
      <%# TODO: fix link when views are created %>
      <%= link_to 'Upload de dados »', upload_sales_path,
        class: "btn btn-primary btn-lg" %>
    </p>
  </div>
</div>
